registry=http://172.20.20.59:8081/repository/npm-group/
email=neko@zira.com
_auth=amVua2luczpqZW5raW5z
//172.20.20.59:8081/repository/npm-group/:_authToken=7fa4020d-9686-3783-af65-88fb7b109fc6
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=AD210201-98F3-4A61-94E8-94A7E68E374B
