<div zx-block-body class="row">
  <zx-preloader *ngIf="labelIsLoading"></zx-preloader>
</div>
<div zx-body *ngIf="label" class="w-auto">
  <div class="row col-24 topContainer">
    <zx-block [config]="containerBlockConfig">
      <img zx-block-body [src]="label.imageUrl" class="width:300px" />
    </zx-block>
    <div class="w-100 pl-10 pr-10">
      <strong
        ><h1>{{ label.name }}</h1></strong
      >

      <div class="container">
        <div>
          <h3>
            {{ label.foundingDate | date : "dd.MM.yyyy" }}
            - {{ artistsLabel.length }} Artists
          </h3>
        </div>
        <div class="row">
          <zx-button
            id="galleryBtn"
            zx-block-action
            [config]="galleryButton"
          ></zx-button>
          <zx-button
            id="addAlbumBtn"
            zx-block-action
            [config]="addAlbum"
          ></zx-button>
          <zx-button
            id="editBtn"
            zx-block-action
            [config]="editBtn"
          ></zx-button>
        </div>
      </div>
      <hr />
      <br /><br />
      <h5>{{ label.outlineText }}</h5>
    </div>
  </div>
  <div class="row-5 bottomContainer">
    <zx-block [config]="infoBlockConfig" class="col-14">
      <div zx-block-body [innerHTML]="label.information"></div>
    </zx-block>
    <zx-block [config]="detailsBlockConfig" class="col-10">
      <div zx-block-body>
        <div>
          <h5>Founder: {{ label.founder }}</h5>
        </div>
        <hr />
        <div>
          <h5>Label name: {{ label.name }}</h5>
        </div>
        <hr />
        <zx-block [config]="labelsBlockConfig">
          <zx-grid
            zx-block-body
            [gridOptions]="labelGridOptions"
            [source]="artistsLabel"
            domLayout="autoHeight"
          >
          </zx-grid>
        </zx-block>
      </div>
    </zx-block>
  </div>
</div>
