<div zx-block-body class="row">
  <zx-preloader *ngIf="labelIsLoading"></zx-preloader>
</div>
<div zx-body *ngIf="label" class="w-auto">
  <div class="row col-24 topContainer">
    <zx-block [config]="containerBlockConfig">
      <img zx-block-body [src]="label.imageUrl" class="width:300px" />
    </zx-block>
    <div class="w-100 pl-10 pr-10">
      <strong>
        <h1>{{ label.name }}</h1>
      </strong>
      <div class="container">
        <div>
          <h3> {{ label.foundingDate | date : "dd.MM.yyyy" }} - {{ artistsLabel.length }} Artists </h3>
        </div>
        <div class="row">
          <zx-button id="galleryBtn" zx-block-action [config]="galleryButton"></zx-button>
          <zx-button id="addAlbumBtn" zx-block-action [config]="addAlbum"></zx-button>
          <zx-button id="editBtn" zx-block-action [config]="editBtn"></zx-button>
          <zx-button id="connectMedia" zx-block-action [config]="connectMediaBtn"></zx-button>
          <zx-button id="addCommentBtn" zx-block-action [config]="addCommentBtn"></zx-button>
          <zx-popup [config]="popup">
            <div zx-popup-body>
              <zx-block [config]="popUpBlockConfig">
                <zx-form-loader *ngIf="popUpFormConfig" zx-block-body [component]="popUpFormConfig"
                  [model]="connectedMediaModel" class="col-24"></zx-form-loader>
              </zx-block>
            </div>
            <zx-button zx-popup-footer [config]="popupFooterButtons" class="align-right"></zx-button>
          </zx-popup>
          <zx-popup [config]="addCommentPopup">
            <div zx-popup-body>
              <zx-block *ngIf="addCommentPopupBlockConfig" [config]="addCommentPopupBlockConfig">
                <zx-form-loader *ngIf="addCommentPopupFormConfig" zx-block-body [component]="addCommentPopupFormConfig"
                  [model]="addCommentModel" class="col-24"></zx-form-loader>
              </zx-block>
            </div>
            <zx-button zx-popup-footer [config]="addCommentPopupFooterButtons" class="align-right"></zx-button>
          </zx-popup>
        </div>
      </div>
      <hr />
      <br /><br />
      <h5>{{ label.outlineText }}</h5>
    </div>
  </div>
  <div class="row-5 bottomContainer">
    <zx-block [config]="infoBlockConfig" class="col-14">
      <div zx-block-body [innerHTML]="label.information"></div>
    </zx-block>
    <zx-block [config]="detailsBlockConfig" class="col-10">
      <div zx-block-body>
        <div>
          <h5>Founder: {{ label.founder }}</h5>
        </div>
        <hr />
        <div>
          <h5>Label name: {{ label.name }}</h5>
        </div>
        <hr />
        <zx-tabs [config]="tabConfig">
          <zx-block zx-tab-item id="artistsTab" [config]="labelsBlockConfig">
            <zx-grid zx-block-body [gridOptions]="labelGridOptions" [source]="artistsLabel" domLayout="autoHeight">
            </zx-grid>
          </zx-block>
          <zx-block zx-tab-item id="commentsTab" [config]="commentsBlockConfig">
            <zx-grid zx-block-body [gridOptions]="commentGridOptions" [source]="comments" domLayout="autoHeight">
            </zx-grid>
          </zx-block>
        </zx-tabs>
      </div>
    </zx-block>
  </div>
</div>