<div class="row mainContainer">
    <zx-block [config]="storysBlockConfig" class="col-16">
      <zx-button zx-block-action [config]="newSongBtn"></zx-button>
      <div zx-block-body class="row">
        <zx-preloader *ngIf="storysAreLoading"></zx-preloader>
      </div>
      <div
        *ngIf="foundSongs && foundSongs.length > 0"
        zx-block-body
        class="searchResults"
      >
        <div class="gridContainer">
          <div class="divForBoxes" *ngFor="let song of foundSongs">
            <app-box
              [id]="song.id"
              [type]="'song'"
              [title]="song.name"
              [description]="song.name"
              [imageUrl]="song.imageUrl"
            >
            </app-box>
          </div>
        </div>
      </div>
      <div zx-block-footer class="align-center">
        <zx-button [config]="previousPageButton"></zx-button>
        <zx-button [config]="nextPageButton"></zx-button>
      </div>
    </zx-block>
  
    <zx-block [config]="searchBlockConfig" class="col-8">
      <zx-button zx-block-action [config]="searchButton"></zx-button>
      <zx-form-loader
        *ngIf="formConfig"
        zx-block-body
        [component]="formConfig"
        [model]="model"
        class="col-24"
      >
      </zx-form-loader>
    </zx-block>
  </div>
  