<div class="row mainContainer">
  <zx-block [config]="ErasBlockConfig" class="col-16">
    <zx-button zx-block-action [config]="viewModeBtn"></zx-button>
    <zx-button zx-block-action [config]="neweraBtn"></zx-button>

    <div zx-block-body class="row"></div>
    <div
      *ngIf="isGridView && foundEras && foundEras.length > 0"
      zx-block-body
      class="searchResults"
    >
      <div class="gridContainer">
        <div class="divForBoxes" *ngFor="let era of foundEras">
          <app-box
            [id]="era.id"
            [type]="'era'"
            [title]="era.name"
            [description]="era.scope"
            [imageUrl]="era.imageUrl"
          >
          </app-box>
        </div>
      </div>
    </div>
    <div zx-block-footer class="align-center">
      <zx-button [config]="previousPageButton"> </zx-button>
      <zx-button [config]="nextPageButton"></zx-button>
    </div>
    <cx-list-layout
      *ngIf="isListView && foundEras && foundEras.length > 0"
      [config]="listLayout"
      zx-block-body
    ></cx-list-layout>
  </zx-block>
  <zx-block [config]="searchBlockConfig" class="col-8">
    <zx-form-loader
      *ngIf="formConfig"
      zx-block-body
      [component]="formConfig"
      [model]="model"
      class="col-24"
    >
    </zx-form-loader>
    <zx-button zx-block-action [config]="searchButton"></zx-button>
  </zx-block>
</div>
