<div zx-block-body class="row">
        <zx-preloader *ngIf="albumIsLoading"></zx-preloader>
    </div>
    <div zx-body *ngIf="album" class="w-auto">
        <div class="row col-24 topContainer">
            <zx-block [config]="containerBlockConfig">
                <img zx-block-body [src]="album.imageUrl" class="width:300px" />
            </zx-block>
            <div class="w-100 pl-10 pr-10">
                <div class="row">
                    <h1>{{ album.name }}</h1>
                </div>
                <div class="row">
                    <div class="p-inline col-21">
                        <p>{{ album.dateOfRelease | date: 'dd.MM.yyyy'}} </p>
                        <p *ngFor="let artist of this.album.albumArtists"> - {{ artist }}</p>
                    </div>
                    <div class="col-4">
                        <zx-button id="galleryBtn" zx-block-action [config]="galleryButton"></zx-button>
                        <zx-button id="editBtn" zx-block-action [config]="editBtn"></zx-button>                       
                    </div>
                </div>
                <hr />
                {{ album.era }}
                <ang-music-player [audioList]="this.album.audioUrls"></ang-music-player>
            </div>
        </div>
        
        <div class="row-5 bottomContainer">
            <zx-block [config]="infoBlockConfig" class="col-14">
                <div zx-block-body [innerHTML]="album.information"></div>
            </zx-block>
            <zx-block [config]="detailsBlockConfig" class="col-10">
                <div zx-block-body>
                    <zx-block zx-tab-item id="songsTab" [config]="songsBlockConfig">
                        <zx-grid zx-block-body [gridOptions]="songGridOptions" [source]="this.album.songs"
                            domLayout="autoHeight">
                        </zx-grid>
                    </zx-block>
                </div>
            </zx-block>
        </div>
    </div>