<div zx-block-body class="row">
  <zx-preloader *ngIf="songIsLoading || songsAreLoading"></zx-preloader>
</div>

<div zx-body *ngIf="song" class="w-auto">
  <div class="row col-24 topContainer">
    <div>
      <zx-block [config]="containerBlockConfig">
        <img zx-block-body [src]="song.imageUrl" class="width:300px" />
        <div
          zx-block-body
          *ngIf="srcUrl.length > 0"
          style="padding-left: 5px; padding-top: 5px"
        >
          <iframe
            style="border-radius: 12px"
            [src]="srcUrl | safe : 'resourceUrl'"
            width="300px"
            height="100"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </div>
      </zx-block>
    </div>
    <div class="w-100 pl-10 pr-10">
      <div class="col-24">
        <strong>
          <h1 class="text-bold">{{ song.name }} - {{ artists[0]?.name }}</h1>
        </strong>
        <div class="container">
          <div class="row">
            <div class="col-8">
              <h5>
                {{ song.dateOfRelease | date : "dd.MM.yyyy" }} -
                {{ artists[0]?.album }}
              </h5>
            </div>
            <div class="col-16">
              <zx-button
                id="galleryBtn"
                zx-block-action
                [config]="galleryBtn"
              ></zx-button>
              <zx-button
                id="addToPlaylistBtn"
                zx-block-action
                [config]="addToPlaylistBtn"
              ></zx-button>

              <zx-button
                id="addInstrumentBtn"
                zx-block-action
                [config]="addInstrumentBtn"
              ></zx-button>

              <zx-button
                id="editBtn"
                zx-block-action
                [config]="editBtn"
              ></zx-button>
              <zx-button
                id="linkSimilarSongs"
                zx-block-action
                [config]="linkSimilarSongsBtn"
              ></zx-button>
              <zx-button
                id="connectMedia"
                zx-block-action
                [config]="connectMediaBtn"
              ></zx-button>
              <zx-button
                id="uploadSong"
                zx-block-action
                [config]="uploadSongBtn"
              ></zx-button>
              <zx-button
                id="changeLyric"
                zx-block-action
                [config]="changeLyricBtn"
              ></zx-button>
              <zx-button
                id="showNoteSheetBtn"
                zx-block-action
                [config]="showInstruments"
              ></zx-button>
              <zx-popup [config]="instrumentPopUp">
                <div zx-popup-body>
                  <zx-block [config]="instrumentPopUpBlockConfig">
                    <zx-preloader *ngIf="songIsLoading"></zx-preloader>
                    <zx-form-loader
                      *ngIf="instrumentPopUpFormConfig && !songIsLoading"
                      zx-block-body
                      [component]="instrumentPopUpFormConfig"
                      [model]="instrumentPopUpModel"
                      class="col-24"
                    ></zx-form-loader>
                  </zx-block>
                </div>
                <zx-button
                  zx-popup-footer
                  [config]="instrumentPopUpFooterButtons"
                  class="align-right"
                ></zx-button>
              </zx-popup>
              <zx-popup [config]="lyricPopup">
                <div zx-popup-body>
                  <zx-block [config]="lyricPopupBlockConfig">
                    <zx-preloader *ngIf="songIsLoading"></zx-preloader>
                    <zx-form-loader
                      *ngIf="lyricPopupFormConfig && !songIsLoading"
                      zx-block-body
                      [component]="lyricPopupFormConfig"
                      [model]="lyricPopupModel"
                      class="col-24"
                    ></zx-form-loader>
                    <div
                      zx-block-body
                      *ngIf="
                        lyricPopupFormConfig && !songIsLoading && showEditor
                      "
                    >
                      <editor
                        [init]="{ height: 300 }"
                        [(ngModel)]="this.lyricPopupModel.lyrics"
                      ></editor>
                    </div>
                  </zx-block>
                </div>

                <zx-button
                  zx-popup-footer
                  [config]="lyricPopupFooterButtons"
                  class="align-right"
                ></zx-button>
              </zx-popup>
              <zx-popup [config]="linkPopupConfig">
                <div zx-popup-body>
                  <zx-block [config]="linkPopupBlockConfig">
                    <zx-form-loader
                      *ngIf="linkPopupFormConfig && !songsAreLoading"
                      zx-block-body
                      [component]="linkPopupFormConfig"
                      [model]="similarityCreateRequest"
                      class="col-24"
                    ></zx-form-loader>
                  </zx-block>
                </div>
                <zx-button
                  zx-popup-footer
                  [config]="linkPopupFooterButtons"
                  class="align-right"
                ></zx-button>
              </zx-popup>
              <zx-popup [config]="popup">
                <div zx-popup-body>
                  <zx-block [config]="popUpBlockConfig">
                    <zx-form-loader
                      *ngIf="popUpFormConfig"
                      zx-block-body
                      [component]="popUpFormConfig"
                      [model]="connectedMediaModel"
                      class="col-24"
                    ></zx-form-loader>
                  </zx-block>
                </div>
                <zx-button
                  zx-popup-footer
                  [config]="popupFooterButtons"
                  class="align-right"
                ></zx-button>
              </zx-popup>

              <zx-popup [config]="songPopup">
                <div zx-popup-body>
                  <zx-block [config]="popUpSongBlockConfig">
                    <zx-form-loader
                      *ngIf="popUpSongFormConfig"
                      zx-block-body
                      [component]="popUpSongFormConfig"
                      [model]="uploadSongModel"
                      class="col-24"
                    ></zx-form-loader>
                  </zx-block>
                </div>
                <div
                  zx-popup-footer
                  style="display: flex; justify-content: space-between"
                >
                  <h4>{{ uploadingText }}</h4>
                  <zx-button
                    [config]="songUploadFooterPopupButtons"
                    class="align-right"
                  ></zx-button>
                </div>
              </zx-popup>
              <zx-popup [config]="addInstrumentPopup">
                <div zx-popup-body>
                  <zx-block
                    *ngIf="addInstrumentPopUpBlockConfig"
                    [config]="addInstrumentPopUpBlockConfig"
                  >
                    <zx-preloader *ngIf="instrumentsAreLoading"></zx-preloader>
                    <!-- *ngIf="addInstrumentPopupFormConfig && !instrumentsAreLoading"  -->

                    <zx-form-loader
                      *ngIf="addInstrumentPopUpFormConfig"
                      zx-block-body
                      [component]="addInstrumentPopUpFormConfig"
                      [model]="addInstrumentModel"
                      class="col-24"
                    ></zx-form-loader>
                  </zx-block>
                </div>
                <zx-button
                  zx-popup-footer
                  [config]="addInstrumentPopupFooterButtons"
                  class="align-right"
                ></zx-button>
              </zx-popup>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-14">
          <h5>{{ song.playlistCount }} Playlist Entries</h5>
          <h5>Audio status - {{ statusOfAudio }}</h5>
          <h5>{{ song.outlineText }}</h5>
        </div>
      </div>
      <div style="display: flex">
        <div class="row">
          <div class="col-20">
            <ang-music-player
              [audioList]="audioList"
              width="450px"
              height="150px"
            ></ang-music-player>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-5 bottomContainer">
    <zx-block [config]="infoBlockConfig" class="col-14">
      <div zx-block-body [innerHTML]="song.information"></div>
    </zx-block>
    <zx-block [config]="detailsBlockConfig" class="col-10">
      <div zx-block-body>
        <div>
          <h5>Label: {{ song.artists[0]?.label }}</h5>
          <hr />
          <h5>Chord Progression: {{ song?.chordProgression }}</h5>
          <hr />
          <h5>Genre: {{ song.genre }}</h5>
          <hr />
          <h5>Subgenre: {{ subGenresText[0] }} {{ subGenresText[1] }}</h5>
        </div>
        <hr />
        <zx-block [config]="personsBlockConfig">
          <zx-grid
            zx-block-body
            [gridOptions]="artistGridOptions"
            [source]="artists"
            domLayout="autoHeight"
          >
          </zx-grid>
        </zx-block>
      </div>
    </zx-block>
  </div>
</div>
