<div zx-block-body class="row">
    <zx-preloader *ngIf="chordIsLoading"></zx-preloader>
</div>
<div zx-body *ngIf="chordProgression" class="w-auto">
    <div class="row col-24 topContainer">
        <zx-block [config]="containerBlockConfig">
            <img zx-block-body [src]="chordProgression.imageUrl" class="width:300px" />
        </zx-block>
        <div class="w-100 pl-10 pr-10">
            <strong>
                <h1>{{ chordProgression.name }}</h1>
            </strong>
            <div class="container">
                <div>
                    <h3>{{ linkedSongs.length}} Songs</h3>
                </div>
                <div class="row">
                    <zx-button id="addSongBtn" zx-block-action [config]="addSongBtn"></zx-button>
                    <zx-button id="editBtn" zx-block-action [config]="editBtn"></zx-button>
                    <zx-button id="addCommentBtn" zx-block-action [config]="addCommentBtn"></zx-button>
                    <zx-popup [config]="addCommentPopup">
                        <div zx-popup-body>
                            <zx-block *ngIf="addCommentPopupBlockConfig" [config]="addCommentPopupBlockConfig">
                                <zx-form-loader *ngIf="addCommentPopupFormConfig" zx-block-body
                                    [component]="addCommentPopupFormConfig" [model]="addCommentModel"
                                    class="col-24"></zx-form-loader>
                            </zx-block>
                        </div>
                        <zx-button zx-popup-footer [config]="addCommentPopupFooterButtons"
                            class="align-right"></zx-button>
                    </zx-popup>
                </div>
            </div>
            <hr />
            <br /><br />
            <h5>{{ chordProgression.outlineText }}</h5>
        </div>
    </div>
    <div class="row-5 bottomContainer">
        <zx-block [config]="infoBlockConfig" class="col-14">
            <div zx-block-body [innerHTML]="chordProgression.information"></div>
        </zx-block>
        <zx-block [config]="detailsBlockConfig" class="col-10">
            <div zx-block-body>
                <zx-tabs [config]="tabConfig">
                    <zx-block zx-tab-item id="songsTab" [config]="songsBlockConfig">
                        <zx-grid zx-block-body [gridOptions]="songsGridOptions" [source]="linkedSongs"
                            domLayout="autoHeight">
                        </zx-grid>
                    </zx-block>
                    <zx-block zx-tab-item id="commentsTab" [config]="commentsBlockConfig">
                        <zx-grid zx-block-body [gridOptions]="commentGridOptions" [source]="comments"
                            domLayout="autoHeight">
                        </zx-grid>
                    </zx-block>
                </zx-tabs>
            </div>
        </zx-block>
    </div>
</div>