<div zx-block-body class="row">
  <zx-preloader *ngIf="songIsLoading"></zx-preloader>
</div>
<div class="row">
  <div class="col-12">
    <h1 class="title">{{ playlistDetail[0]?.playlistName }}</h1>
    <h3>{{ playlistDetail?.length }} Songs - {{ totalTime }}</h3>
    <h3>{{ playlistDetail[0]?.outlineText }}</h3>
  </div>
  <div class="col-12" style="margin-top: 120px; text-align: end">
    <zx-button id="addSong" [config]="addSong"></zx-button>
    <zx-button id="deletePlaylist" [config]="deletePlaylist"></zx-button>
  </div>
</div>
<div>
  <zx-popup [config]="popup">
    <div zx-popup-body>
      <zx-block [config]="popUpBlockConfig">
        <zx-form-loader
          *ngIf="popUpFormConfig && !songIsLoading"
          zx-block-body
          [component]="popUpFormConfig"
          class="col-12"
          [model]="model"
        ></zx-form-loader>
      </zx-block>
      <div *ngIf="message">{{ message }}</div>
      <div class="col-24" style="text-align: end">
        <zx-button zx-popup-footer [config]="mainButtons"></zx-button>
      </div>
    </div>
  </zx-popup>
</div>
<div class="row-6">
  <div class="col-24">
    <zx-block [config]="containerBlockConfig">
      <zx-grid
        zx-block-body
        [gridOptions]="playlistGridOptions"
        [source]="playlistDetail"
        domLayout="autoHeight"
      >
      </zx-grid>
    </zx-block>
  </div>
</div>
