.headContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pie {
    width: 250px;
    height: 100px;
  }
  .pieTwo {
    width: 150px;
    height: 100px;
  }
  