.buttonContainer {
    display: flex;
}

img {
    margin-top: 25px;
    object-fit: contain;
    width     : 100%;
    height    : 350px;
}

.imageContainer {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.imageRow {
    align-items: center;
}