<div class="row" style="height: 40vh">
  <div class="col-16">
    <div>
      <h1>User recommendations:</h1>
    </div>
    <hr />
    <zx-block *ngIf="!loading" [config]="songsBlockConfig">
      <zx-grid
        zx-block-body
        [gridOptions]="gridOptions"
        [source]="generateResult"
        domLayout="autoHeight"
      >
      </zx-grid>
    </zx-block>
  </div>
  <div class="col-8">
    <div>
      <zx-preloader *ngIf="loading || loading"></zx-preloader>
    </div>
    <div>
      <br />
      <br />
      <br />
      <br />
    </div>
    <zx-block *ngIf="!loading" [config]="searchBlockConfig">
      <zx-form-loader
        *ngIf="formConfig"
        zx-block-body
        [component]="formConfig"
        [model]="model"
        class="col-24"
      >
      </zx-form-loader>
      <zx-button zx-block-action [config]="searchButton"></zx-button>
    </zx-block>
  </div>
</div>
<div class="row" style="margin-top: 80px; height: 80vh">
  <div class="col-16">
    <div>
      <h1>CHART</h1>
      <div>
        <canvas id="barChart"></canvas>
      </div>
    </div>

    <hr />
  </div>
</div>
