<div zx-block-body class="row">
  <zx-preloader *ngIf="integrationIsLoading"></zx-preloader>
</div>

<div zx-body *ngIf="spotifyIntegration" class="w-auto" style="padding: 5px">
  <div class="row col-24 headContainer">
    <h1 style="font-weight: bold">Spotify Integration</h1>
    <zx-button id="refreshButton" zx-block-action [config]="refreshButton"style="padding-left: auto"></zx-button>
  </div>

  <div style="height: 200px">
    <zx-block [config]="spotifyBlockConfig">
      <zx-grid zx-block-body [gridOptions]="spotifyTableTypeGridOptions" [source]="dataTypes" domLayout="autoHeight"></zx-grid>
    </zx-block>
  </div>

  <div style="margin-top: 10px; display: flex; height: 300px">
    <div class="col-12">
      <div style="display: flex; justify-content: space-evenly">
        <div>
          <div class="pie">
            <canvas id="pieChart"></canvas>
          </div>
        </div>
        <div>
          <div class="pie">
            <canvas id="pieChartTwo"></canvas>
          </div>
        </div>
        <div>
          <div class="pie">
            <canvas id="pieChartThree"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <zx-block [config]="spotifyDataTypeConfigBlock">
        <zx-grid zx-block-body [gridOptions]="spotifyTableDataTypeGridOptions" [source]="spotifyData" domLayout="autoHeight"></zx-grid>
      </zx-block>
    </div>
  </div>
</div>