<div id="searchBlock">
    <h1>Sound Repository</h1>
    <div id="searchInput" class="ng-autocomplete">
        <ng-autocomplete [data]="allMultiSearchObjects" [searchKeyword]="keyword" (selected)="selectEvent($event)"
            (inputChanged)="onChangeSearch($event)" (inputFocused)="onFocused($event)" [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <app-multi-search-item [multiSearchItem]="item"></app-multi-search-item>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
    </div>
</div>

<div id="gridAll">
    <zx-block [config]="gamesBlockConfig" id="gridBlock">
        <zx-grid zx-block-body id="gridTopTenPlaylist" [gridOptions]="gridTopTenSongsOptions" [source]="topSongsList">
        </zx-grid>
    </zx-block>
    <zx-block [config]="wikiBlockConfig" id="wikiBlock">
        <zx-grid zx-block-body id="gridWiki" [gridOptions]="gridOptions" [source]="wikiData"></zx-grid> 
    </zx-block>
</div>
<div id="bottomContainer">
    <zx-block [config]="userRecommendedPlaylistConfig" id="bottomBlock" >
     <zx-grid zx-block-body id="gridRecommnededPlaylist" [gridOptions]="gridRandomPlaylistOption" [source]="randomUserPlaylist"  >
    </zx-grid>
</zx-block>
<div *ngIf="audioList && audioList.length > 0">
<ang-music-player [audioList]="this.audioList"></ang-music-player>
</div>

 </div>